{% extends "./_layout.html" %}
{% block content %}
<div id="main-content">
    <div id="selectDiv">
        <button id="btn1">BUTTON1</button>
        <button id="btn2">BUTTON2</button>
        <button id="btn3">BUTTON3</button>
        <button id="btn4">BUTTON4</button>
        <button id="btn5">BUTTON5</button>
    </div>
    <div id="slideDiv">
        <ul>
            <li> 
                <p>slide1</p>
            </li>
            <li> 
                <p>slide2</p>
            </li>
            <li> 
                <p>slide3</p>
            </li>
            <li> 
                <p>slide4</p>
            </li>
            <li> 
                <p>slide5</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}