/* 리스트 */


#list-content {
    /* height: 100vh; */
    width: 100vw;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #000084;
    z-index: 1;
}

#list-content > h2 {
    padding: 5vh 0;
}

#list-content > h2 > a {
    font-size : 50px;
    color: #ffffff;
    margin: 5vh 0;
    text-align: center;
}

.btn {
    display: block;
    width: 100px;
    height: 40px;
    background: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: #000084;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}


#list-content > table {
    width: 70vw;
    border-collapse: collapse;
}

.title .article {
    display: flex;
    justify-content: space-around;
}

.title > td {
    padding: 20px 10px;
    border-bottom: 2px solid #ffffff;
    background-color: rgba(190, 190, 190, 0.3);
    text-align: center;
    color: #ffffff;
}

.article > td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    
}

.idx {
    width: 100px;
    height: 30px;
    text-align: center;
}

.subject {
    width: 500px;
    height: 30px;
    padding-left: 20px ;
}

.subject > a {
    color: #ffffff;
}

.nickname {
    width: 120px;
    height: 30px;
    text-align: center;
}

.date {
    width: 120px;
    height: 30px;
    text-align: center;
}

.hit {
    width: 100px;
    height: 30px;
    text-align: center;
}

#btnDiv {
    margin-top: 100px;
    width: 50vw;
    display: flex;
    justify-content: center;

}

#btnDiv > #prevBtn {
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

#btnDiv > #nextBtn {
    width: 30px;
    height: 30px;
    margin: 0 20px;
}


#pageBtnDiv > button {
    width: 30px;
    height: 30px;
}




/* view 페이지 */
#view {
    width: 70vw;
    min-height: 50vh;
    border: 1px solid #ffffff;
    margin-top: 20px;
    padding: 30px;
    color:#ffffff;
    font-size: 20px;
}

#viewBtnDiv {
    width: 70vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.smallBtn {
    display: block;
    width: 60px;
    height: 30px;
    background: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: #000084;
    margin: 20px 0 0 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.viewNickname {
    width: 150px;
    height: 30px;
    text-align: center;
}



/* REPLY */

#replyDiv {
    margin-top: 80px;
    width: 70vw;
    min-height: 20vh;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#replyDiv > form {
    width: 65vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#replyDiv > form > #replyInput{
    width: 55vw;
    height: 6vh;
    background: rgba(190, 190, 190, 0.3);
    font-size: 20px;
    border: none;
    outline-style: none;
    color: #ffffff;
    padding: 7px 14px;
}

#replyDiv > form > #replyBtn{
    width: 5vw;
    height: 6vh;
    background: #ffffff;
    color: #000084;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline-style: none;
    cursor: pointer;
}

#replylist {
    width: 70vw;
}

#replylist > ul {
    width: 60vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#replylist > ul > li {
    width: 60vw;
    padding: 15px;
    border-bottom: 2px solid rgba(190, 190, 190, 0.3);
}

#replyInfo {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(190, 190, 190, 0.3); */
    padding: 7px 0;
    align-items: center;
}

#replyInfo > #replyInfoP > span{
    padding: 10px;
    color: #ffffff;
}

#replyInfo > #replyInfoP > span.writer{
    font-size: 7px;
    padding: 0 14px 0 0;
}

#replyForm {
    display: flex;
}

#replyForm > a {
    background: #ffffff;
    color: #000084;
    display: block;
    padding: 4px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 12px;
}

#replyForm > form > input {
    background: #ffffff;
    color: #000084;
    display: block;
    padding: 4px;
    border-radius: 5px;
    margin: 0 5px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

#replylist > ul > li > p{
    color: #ffffff;
    padding: 10px;
}









/* write 페이지 */
#write-content {
    width: 100vw;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #000084;
    z-index: 1;
}

#write-content > h2 {
    padding: 5vh 0;
}

#write-content > h2 > a {
    font-size : 50px;
    color: #ffffff;
    margin: 5vh 0;
    text-align: center;
}

#write-content > form > ul {
    margin-top: 30px;
}

#write-content > form > ul > li{
    margin: 10px 0;
}

#write-content > form > ul > li > p {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
}

#subjectInput {
    width: 70vw;
    height: 50px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000084;
    margin-bottom: 30px;
    background: #ffffff;
}

#subjectInput > input {
    width: 65vw;
    height: 40px;
    outline-style: none;
    border: none;
    font-size: 20px;
}

textarea {
    width: 70vw;
    height: 50vh;
    font-size: 15px;
    padding: 20px;
}
