{% extends "./_layout.html" %}
{% block content %}
<div id="list-content">
    <h2><a href="/board/list?p=1">게시판</a></h2>
    <table>
        <thead>
            <tr class="title">
                <td class="idx">글번호</td>
                <td class="'subject">제목</td>
                <td class="nickname">작성자</td>
                <td class="date">작성일</td>
                <td class="hit">조회수</td>
            </tr>
        </thead>
        <tbody>
            <!-- template : boardList -->
        </tbody>
    </table>
    <div id="btnDiv">
        <button id="prevBtn">👈</button>
        <div id="pageBtnDiv">
            <!-- template : pageList -->
        </div>
        <button id="nextBtn">👉</button>
    </div>
    <a class='btn' href="/board/write">글쓰기</a>
</div>

<template id="boardList">
    <tr class="article">
        <td class="idx">{idx}</td>
        <td class="subject"><a href="/board/view?idx={idx}">{subject}</a></td>
        <td class="nickname">{nickname}</td>
        <td class="date">{date}</td>
        <td class="hit">{hit}</td>
    </tr>
</template>

<template id="pageList">
    <button class="pNum">{pNum}</button>
</template>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../api/boardList.js" type="text/javascript"></script>
{% endblock %}





