{% extends "./_layout.html" %}
{% block content %}
<div id="list-content">
    <h2><a href="/board/list?p=1">게시판</a></h2>
    <table>
        <tr class="title">
            <td class="idx">글번호 : {{item.idx}}</td>
            <td class="'subject">제목 : {{item.subject}}</td>
            <td class="viewNickname">글쓴이 : {{item.nickname}}</td>
        </tr>
    </table>
    <div id="view">
        <p>{{item.content}}</p>
    </div>
    <div id="btnDiv">
        <a class="smallBtn" href="/board/list?p=1">목록가기</a>
        {% if myContent %}
        <a class="smallBtn" href="/board/update?idx={{item.idx}}">글 수정</a>
        <a class="smallBtn" href="/board/delete?idx={{item.idx}}">글 삭제</a>
        {% endif %}
    </div>
    <div id="replyDiv">
        <form method="post" action="/board/view?idx={{item.idx}}">
            <input type="hidden" name="bidx" value="{{item.idx}}">
            <input type="hidden" name="bid" value="{{item.nickname}}">
            <input type="hidden" name="cid" value="{{curUserNickname}}">
            <input id="replyInput" type="text" name="reply">
            <input id="replyBtn" type="submit" value="댓글달기">
        </form>
        <div id="replylist">
            <ul>
                {% for reply in replydb %}
                <li>
                    <p>{{reply.cid}}</p>
                    {% if reply.bid == reply.cid %}
                    <p>작성자</p> 
                    {% endif %}
                    <p>{{reply.replydate}}</p>
                    <p>{{reply.reply}}</p>
                    <div id="postBox">
                        <form method="post" action="/board/view?idx={{item.idx}}">
                            <input type="hidden" name="bidx" value="{{item.idx}}">
                            <input type="hidden" name="cidx" value="{{reply.cidx}}">
                            <input type="submit" value="추천">
                        </form>
                        <a href="/reply/edit?idx={{reply.cidx}}">수정하기</a>
                        <form method="post" action="/board/view?idx={{item.idx}}">
                            <input type="hidden" name="bidx" value="{{item.idx}}">
                            <input type="hidden" name="cidx" value="{{reply.cidx}}">
                            <input type="submit" value="삭제">
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    
</div>
{% endblock %}