{% extends "./_layout.html" %}
{% block content %}
<div id="list-content">
    <h2><a href="/board/list?p=1">게시판</a></h2>
    <table>
        <tr class="title">
            <td class="idx">{{item.idx}}</td>
            <td class="subject">{{item.subject}}</td>
            <td class="viewNickname">{{item.nickname}}</td>
            <td class="hit">조회수 : {{item.hit}}</td>
        </tr>
    </table>
    <div id="view">
        <p>{{item.content}}</p>
    </div>
    <div id="btnDiv">
        <a class="smallBtn" href="/board/list?p=1">목록가기</a>
        {% if myContent %}
        <a class="smallBtn" href="/board/update?idx={{item.idx}}">글 수정</a>
        <a class="smallBtn" href="/board/delete?idx={{item.idx}}">글 삭제</a>
        {% endif %}
    </div>
    <div id="replyDiv">
        <form method="post" action="/reply/write?idx={{item.idx}}">
            <input type="hidden" name="bidx" value="{{item.idx}}">
            <input type="hidden" name="bid" value="{{item.nickname}}">
            <input type="hidden" name="cid" value="{{curUserNickname}}">
            <input id="replyInput" type="text" name="reply">
            <input id="replyBtn" type="submit" value="댓글달기">
        </form>
        <div id="replylist">
            <ul>
                {% for reply in replydb %}
                <li>
                    <div id="replyInfo">
                        <div id="replyInfoP">
                            <span>{{reply.cid}}</span>
                            {% if reply.bid == reply.cid %}
                            <span class="writer">작성자</span> 
                            {% endif %}
                            <span>{{reply.replydate}}</span>
                            <span>❤️ {{reply.replylike}}</span>
                        </div>
                        <div id="replyForm">
                            <form method="post" action="/reply/like">
                                <input type="hidden" name="bidx" value="{{reply.bidx}}">
                                <input type="hidden" name="cidx" value="{{reply.cidx}}">
                                <input type="hidden" name="replylike" value="{{reply.replylike}}">
                                <input type="submit" value="❤️">
                            </form>
                            {% if reply.cid == curUserNickname %}
                            <a href="/reply/edit?idx={{reply.bidx}}&r_idx={{reply.cidx}}">수정</a>
                            <form method="post" action="/reply/delete">
                                <input type="hidden" name="bidx" value="{{reply.bidx}}">
                                <input type="hidden" name="cidx" value="{{reply.cidx}}">
                                <input type="submit" value="삭제">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <p>{{reply.reply}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    
</div>
{% endblock %}